body {
  font-family: Georgia, serif;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* Add your own custom styles here */

nav{
  display: flex;
  justify-content: space-around;
  background-color: maroon;
}

nav span{
  display: flex;
  justify-content: space-around;
}

nav a{
  padding: 1rem;
  color: white;
}

.registerForm {
  display: flex;
  flex-wrap: wrap;
}

h2 {
display:flex;
justify-content: center;
}

h3 {
  display:flex;
  justify-content: center;
  }

h4 {
  display:flex;
  justify-content: center;

  text-align: center;
    
  margin-left: 15rem;
  margin-right: 15rem;
  }



.singleBookCover {
  display:flex;
}


.single {
  justify-self: center;
  width: 25%;
  height: 25%;
  margin-left: auto;
  margin-right: auto;

}

.bookTitles {
  line-height: 20px;
}